@media (max-height: 50vh) and (max-width: 100vh) {
  .nftCarouselContainer {
    width:auto;
    height:auto;
  }
}

@media (max-height: 50vh) and (max-width: 100vh) {
  .carousel {
    width:auto;
    height:auto;
  }
}
